-content_for :header, "Resend Confirmation"

- form_for resource_name, resource, :url => confirmation_path(resource_name) do |f|
  = iphone_error_messages_for f
  %fieldset
    %ul.pageitem
      %li.bigfield
        = f.text_field :email, :placeholder=>"Email"
      %li.button
        = f.submit "Resend confirmation instructions"
      
= render :partial => "devise/shared/links"