- form_for(@goal) do |f|
  = iphone_error_messages_for f
  = f.hidden_field :parent_goal_id
  %ul.pageitem
    %li.bigfield
      = f.text_field :description, :placeholder => "Description"
    %li.button
      = f.submit
  / .field
  /   = f.label :completed
  /   %br
  /   = f.datetime_select :completed_at
  / .field
  /   = f.label :parent_goal_id
  /   %br
  /   = f.text_field :parent_goal_id

