-content_for :header, @goal.description

-content_for :breadcrumb, link_to(@goal.parent_goal, :show => @goal.parent_goal)

%ul.pageitem
  %li.store
    %span.image
    %span.comment
      comment
    %span.name
      = @goal.description
    %span.stars4
    %span.starcomment
      98% done
  
=@goal.completed_at

%br
%span.graytitle
  Progress
  
%br

Child goals here...

%br
== #{ link_to 'Edit', edit_goal_path(@goal) }
