-content_for :header, @goal.description

-content_for :left_of_header, breadcrumbs_from(@goal).html_safe

- content_for :right_of_header do
  /=link_to 'Edit', edit_goal_path(@goal)
  =link_to "+", new_goal_child_path(@goal)
%ul.pageitem
  %li.store
    -link_to edit_goal_path(@goal) do
      %span.name
        = @goal.description
      %span.image
        /=image_tag "iWebKit/thumbs/other.png", :alt => "temporary thumbnail"
      %span.comment
        comment
        =@goal.completed_at
      %span.name
        = @goal.description
      %span.stars4
      %span.starcomment
        98% done
      %span.arrow
  


-unless @goal.child_goals.empty?
  %span.graytitle
    Progress
  %br
  %ul.pageitem
    = render :partial => @goal.child_goals

