-content_for :header, @goal.description

-content_for :left_of_header, breadcrumbs_from(@goal).html_safe

- content_for :right_of_header do
  =link_to "+", new_goal_child_path(@goal)
  
%ul.pageitem
  %li.store
    %span.image
    %span.comment
      comment
    %span.name
      = @goal.description
    %span.stars4
    %span.starcomment
      98% done
  
=@goal.completed_at

%br
%span.graytitle
  Progress
  
%br

Child goals here...

%br
== #{ link_to 'Edit', edit_goal_path(@goal) }
